.p-50-rem {
  padding: .50rem !important;
}

.card {
  border: none !important;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) !important;
}

.card-header {
  background-color: white!important;
}

.vh-58 {
  height: 58vh !important;
}